html, body {
  width: 100%;
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
  padding: 0px;
}

ul, ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a, a:hover, a:focus {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.container {
  width: 85%;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}

header{
  position:fixed;
  width:100%;
  left:0;
  right:0;
  background-color: #25C7FF;
  z-index:100;
}

#logo{
  float:left;
}

.nav {
  float: right;
}

.nav li {
  display: inline-block;
}

.nav li a {
  color: #fff;
  text-transform: capitalize;
  display: block;
  padding: 10px 12px;
}

.home_bg{
  background-image: url(http://via.placeholder.com/960x514);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}

.container_table{
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
}

.container_table_cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.container_table_cell h2 {
  color: #fff;
  text-transform: capitalize;
  font-size: 54px;
}

.social_icons a {
  color: #fff;
  display: inline-block;
  width: 30px;
  height: 40px;
  line-height: 40px;
  font-size: 19px;
  margin-right: 7px;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.about_me {
  padding: 100px 0;
}

h2 {
  margin-bottom: 75px;
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.col_left, .col_right {
  float: left;
  width: 50%;
  padding: 0 15px;
}

.personal_info h3 {
  font-size: 15px;
  letter-spacing: 2px;
  margin-bottom: 6px;
  text-transform: capitalize;
}

.personal_info p {
  color: #767676;
  line-height: 24px;
  text-align: justify;
}

.skill {
  margin: 30px auto;
}

.skill li {
  font-size: 15px;
  line-height: 35px;
  text-transform: capitalize;
}
.button_group .download_cv, .button_group .contact_me {
  display: inline-block;
}

.button_group .download_cv {
  margin-right: 18px;
}

.button_group a {
  display: block;
  color: #000;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 10px 38px;
  text-transform: capitalize;
}

.button_group a:hover {
  background: #000;
  color: #fff;
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -ms-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}